<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col>
        <ion-title style="color: white">
          <strong>Roland Time Measure</strong>
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-icon name="person" slot="start"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="justify-content: space-between;padding: 12px;">
    <ion-button size="small" color="secondary" shape="round" [routerLink]="['/products']">
      History
    </ion-button>
    <ion-button size="small" color="secondary" shape="round">{{ details.empName | slice:0:10 }}
      <ion-icon slot="start" name="person"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-grid>
    <ion-row style="padding-bottom: 14px; padding-top: 12px">
      <ion-col>
        <img style="border-radius: 8px" src="assets/scan1.png" />
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block" (click)="scan()">
          Scan barcode
          <ion-icon name="scan-sharp" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="padding-bottom: 10%">
      <ion-col style="text-align: center">
        <ion-title style="padding-bottom: 8px"
          >Product Barcode Scanner</ion-title>
        <ion-text
          >Click on button above to start scanning the product barcode.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card style="border: grey thick; border-radius: 6px; padding-top: 12px">
    <ion-card-content>
      <ion-item>
        <ion-label>Station</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.station">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="data" style="justify-content: space-between">
        <ion-label>Barcode </ion-label>
        <ion-input style="text-align: end;" [value]="data" [(ngModel)]="product.barcode" readonly></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="6">
            <ion-button color="primary" style="padding-top: 8px" expand="full" (click)="submitForm()">
              Submit</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
