<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
        <ion-title style="color: white">
          <strong>Product Barcode Scanner</strong>
        </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="justify-content: space-between;padding: 10px;">
    <ion-button size="small" color="secondary" shape="round" (click)="history()">
      History
    </ion-button>
    <ion-button size="small" color="secondary" shape="round">{{ details.empName | slice:0:10 }}
      <ion-icon slot="start" name="person"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-card style="background-color: rgb(207, 215, 230)">
    <ion-row style="padding: 8px">
      <ion-text style="font-style: oblique">
        <strong>** Instructions **</strong><br /><br />* Press Start button to enable barcode scanning.<br />
        * Press Rest button to pause and press again to continue.<br>
      </ion-text>
    </ion-row>
  </ion-card>

  <ion-grid style="padding-top: 12px;">
    <ion-row style="justify-content: space-evenly;">
      <ion-button color="primary" (click)="getStartDate()" [disabled]="btnDisable">
        Start
      </ion-button>
      <ion-button color="warning" (click) = "getRestPeriod()">
        {{rest}}
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="padding-bottom: 10px; padding-top: 20px">
        <img style="width: 40%;height: 50%;" src="assets/scan1.png" />
        <ion-button color="success" expand="block" (click)="scan()" [disabled]="isDisabled">
          Scan barcode
          <ion-icon name="scan-sharp" slot="start"></ion-icon>
        </ion-button>
    </ion-row>
  </ion-grid>

  <ion-card style="border: grey thick; border-radius: 6px; padding-top: 12px">
    <ion-card-content>
      <ion-item>
        <ion-label>Station</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.station">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="data" style="justify-content: space-between">
        <ion-label>Barcode </ion-label>
        <ion-input style="text-align: end;" [value]="data" [(ngModel)]="product.barcode" readonly></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="6">
            <ion-button color="tertiary" style="padding-top: 8px" expand="full" (click)="submitForm()" [disabled]='!isValid()'>
              Submit</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
