ion-row{
    border-color: grey; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
    background-color: white;
    padding: 12px;
}
ion-grid{
    padding: 12px;
}
ion-content{
    --ion-background-color:#0c8bd423;
    --padding-top: 12px;
}