.my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }

  ion-card{
    border-radius: 8px;
    background-color: rgb(255, 254, 254);
  }

  ion-content{
    --ion-background-color:#0c8bd423;
}