<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color: white">
      <strong>Roland Time Measure</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row
    style="justify-content: center; text-align: center; padding-top: 16px"
  >
    <ion-col size="10">
      <img style="border-radius: 8px" src="assets/scan2.png" />
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-col style="text-align: center">
        <ion-title>User Identification</ion-title>
      </ion-col>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-text
            >You are required to identify your personal information.<br />Click
            on button below and scan your staff barcode.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="justify-content: center; text-align: center; padding-top: 16px">
        <ion-col size="6">
          <ion-button color="primary" expand="block" (click)="scan()">
            Scan barcode
            <ion-icon name="scan-sharp" slot="start"></ion-icon>
          </ion-button>
          <ion-button color="primary" expand="block" (click)="jom()">
            Scan 
            <ion-icon name="scan-sharp" slot="start"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
