<ion-card style="border-radius: 12px">
  <ion-card-content>
    <ion-grid>
      <ion-row style="padding-bottom: 20px">
        <ion-col class="justify-align-center">
          <ion-text>Please scan your identification barcode. </ion-text>
          <img
            style="border-radius: 4px; padding-top: 20px"
            src="assets/scan2.png"
          />
        </ion-col>
      </ion-row>
      <ion-button color="primary" expand="full" (click)="scan()">
        Scan code</ion-button>
      <!-- <ion-button expand="full" (click)="getDataEverywhere()">Get Data</ion-button>
       -->
    </ion-grid>

    <ion-list>
      <ion-item button detail lines="inset" *ngFor="let data of dataa">
        {{ data }}
      </ion-item>
    </ion-list>

    <!-- <ion-item>
      <ion-label position="stacked">Staff Name</ion-label>
      <ion-input readonly>Hasif</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Staff ID</ion-label>
      <ion-input readonly>M70002</ion-input>
    </ion-item> -->

    <ion-item *ngIf="data">
      <ion-label position="stacked">Staff Name</ion-label>
      <ion-input readonly>Fakhrul Faiz</ion-input>
    </ion-item>
    <ion-item *ngIf="data">
      <ion-label position="stacked">Scan Information</ion-label>
      <ion-input [value]="data.text" readonly></ion-input>
    </ion-item>

    <ion-list inset>
      <ion-item *ngFor="let testings of testing">
        <h2>{{ testings.M_MATERIALNO }}</h2>
        <p>{{ testings.M_MODELNAME }}</p>
      </ion-item>
    </ion-list>

  </ion-card-content>

  <ion-card-content style="border-radius: 12px">
     <ion-button expand="full">Next</ion-button>
  </ion-card-content>


</ion-card>

